<!-- This is where the control is projected -->
<div class="input-wrapper__content">
  <ng-content></ng-content>
</div>
<!-- This is where the errors are shown -->
<div class="input-wrapper__errors">
  <!-- Errors for formControl -->
  @if (invalid) {
  <ul>
    @for (error of errors; track $index) {
    <li class="p-error">
      {{ error }}
    </li>
    }
  </ul>
  } @else { @if (warning) {
  <ul>
    @for (warning of warnings; track $index) {
    <li class="warning">
      {{ warning }}
    </li>
    }
  </ul>
  } }
</div>
